$dark-purple: #24053E;
$davys-gray: #584D62;
$eucalyptis: #44FFA1;
$ghost-white: #FCF8FF;

@font-face {
    font-family: 'fraunces';
    src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: 'manrope';
    src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

// * {
//     outline: 1px solid #f00 !important;
//   }

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;

    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.bg-holder {
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;

    img {
        display: none;
    }
}

.bg {
    z-index: -4;
    position: relative;
    top: 0;
    left: -30vw;
    height: 540px;
    width: 160vw;
    background-color: $dark-purple;

    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

header {
    margin-top: 2rem;
    width: 100%;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 4rem 1rem 0 1rem;

        color: white;
        font-family: 'fraunces';
        font-size: 3.3rem;
        letter-spacing: -.16px;
        font-weight: 600;
        line-height: 4.125rem;
        text-align: center;

        span {
            border-bottom: 3px solid $eucalyptis;
        }
    }

    button {
        margin-top: 40px;
        width: 131px;
    }
}

button {
    margin-top: 40px;

    font-family: "manrope";
    font-weight: bold;
    letter-spacing: -.16px;
    font-size: 16px;

    align-self: center;
    
    width: 172px;
    height: 53px;
    color: $dark-purple;
    background-color: $eucalyptis;

    border: 3px solid $eucalyptis;
}

button:hover {
    color: $eucalyptis;
    background-color: $dark-purple;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: 90%;

    a {
        
        width: auto;
        span {
            font-family: 'manrope';
            color: white;
            font-size: 1.3333333rem;
            line-height: 2rem;
            letter-spacing: -.16px;
            transition: color .1s;
            text-decoration: none;
            text-align: left;

            border-bottom: 3px solid $eucalyptis;
            padding: 0 0 2px 0;
        }
        span:hover {
            color: $eucalyptis;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    > section + section {
        margin-block-start: 40px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;

        h3 {
            margin: 0;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            border: 2px solid black;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2 {
            font-family: 'fraunces';
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; /* 128.571% */
        }
        p {
            font-family: 'manrope';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
        };
    }
    section + section.creator {
        margin-block-start: 191px;
        overflow-x: hidden;

        img {
            width: 281px;
            height: 281px;
            border-radius: 50%;
        }

        div > div{
            position: relative;
            
            overflow: hidden;
            top: -50px; 
            height: 375px;
            background-color: $dark-purple;
            color: $ghost-white;
            padding: 32px;

            h2 {
                color: var(white);
                text-align: center;
                font-family: Fraunces;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 48px; /* 150% */
            }

            p {
                text-align: center;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 175% */
            }
        }
    }
}

#bg-img-3 {
    display: none;
}

img.hero {
    margin-top: 64px;
    width: 85%;
    align-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 64px;

    width: 116px;
    height: 102.224px;
    flex-shrink: 0;

    div {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }
}

// Medium Screens
@media only screen and (min-width: 768px) {
    nav {
        padding: 0 39px;
    }

    .bg-holder {
        width: 100%;
        img {
            display: block;
            position: relative;
        }
        #bg-img-1-holder{
            position: absolute;
            left: 0;
            z-index: -3;
            overflow: hidden;

            height: 100%;
        }
        #bg-img-1 {
            left: -225px;
            top: 100px;
        }
        #bg-img-2-holder{
            position: absolute;
            right: 0;
            z-index: -3;
        }
        #bg-img-2 {
            top: 275px;
            right: -100px;
            z-index: -3;
        }
    }

    img.hero {
        width: 480px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        > section + section {
            margin-block-start: 48px;
        }
    
        section {
            flex-direction: row;
            padding: 0 97px;
            width: 70%;

            text-align: left;

            h3 {
                flex-shrink: 0;
                margin-right: 32px;
            }
        }
        section + section.creator {
            margin-block-start: 191px;
            padding: 0;
            width: 95%;
            overflow-x: hidden;
            overflow-y: visible;
            position: relative;

    
            img {
                position: relative;
                left: 40px;
            }
            #bg-img-3 {
                display: block;
                position: absolute;
                left: 50%;
                bottom: -30%;
            }
            div > div{
                position: relative;
                padding: 48px 0 0 56px;
                
                top: -120px;
                right: -210px;
                width: 457px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                h2 {
                    text-align: left;
                }
    
                p {
                    text-align: left;
                }
                button {
                    align-self: flex-start;
                }
            }
        }
    }
}
//Large Screens
@media only screen and (min-width: 1080px) {

    main {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        padding: 0 160px;

        .hero {
            margin: 46px 25% 104px 25%;
            width: 50%;
        }

        section {
            width: 30%;
            height: 180px;
            flex-direction: column;
            text-align: center;
            padding: 0%;
            margin: 0 auto;
        }

        section + section.creator {
            height: 900px;
            width: 100%;
            img {
                width: 450.287px;
                height: 453px;
                left: -400px;
            }

            div > div {
                width: 730px;
                left: 120px;
                top: -240px;
            }
        }

        > section + section {
            margin-block-start: 0;
        }
    }
}