@font-face {
  font-family: "fraunces";
  src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
  font-family: "manrope";
  src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: -30vw;
  margin: auto;
  height: 540px;
  width: 160vw;
  background-color: #24053E;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}
.bg img {
  display: none;
}

header {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header h1 {
  margin: 4rem 1rem 0 1rem;
  color: white;
  font-family: "fraunces";
  font-size: 3.3rem;
  letter-spacing: -0.16px;
  font-weight: 600;
  line-height: 4.125rem;
  text-align: center;
}
header h1 span {
  border-bottom: 3px solid #44FFA1;
}
header button {
  margin-top: 40px;
  font-family: "manrope";
  font-weight: bold;
  letter-spacing: -0.16px;
  font-size: 1.229rem;
  align-self: center;
  width: 131px;
  height: 53px;
  color: #24053E;
  background-color: #44FFA1;
  border: 3px solid #44FFA1;
}
header button:hover {
  color: #44FFA1;
  background-color: #24053E;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
nav a span {
  font-family: "manrope";
  color: white;
  font-size: 1.3333333rem;
  line-height: 2rem;
  letter-spacing: -0.16px;
  transition: all 0.1s;
  text-decoration: none;
  border-bottom: 3px solid #44FFA1;
  padding: 2px 0;
}
nav a span:hover {
  color: #44FFA1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > section + section {
  margin-block-start: 40px;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}
main section h3 {
  margin: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section h2 {
  font-family: "fraunces";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
}
main section p {
  font-family: "manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
main section + section.creator {
  margin-block-start: 191px;
}
main section + section.creator img {
  width: 281px;
  height: 281px;
  border-radius: 50%;
}
main section + section.creator div > div {
  position: relative;
  top: -40px;
  width: 91%;
  height: 375px;
  flex-shrink: 0;
  background-color: #24053E;
  color: #FCF8FF;
  padding: 32px;
}
main section + section.creator div > div h2 {
  color: var(white);
  text-align: center;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 150% */
}

img.hero {
  margin-top: 64px;
  width: 85%;
  align-self: center;
}

/*# sourceMappingURL=output.css.map */
